<p-dialog
  [header]="id ? 'Editar Snack' : 'Crear Snack'"
  [(visible)]="show"
  [modal]="true"
  (onHide)="closeModal.emit()"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
</p-dialog>

<ng-template #formTemplate>
  <form [formGroup]="form" class="w-full flex flex-col md:flex-row gap-4 justify-between flex-wrap">
    <div class="mb-4 w-full md:w-5/12 flex gap-2">
      <label for="name">Nombre</label>
      <div class="w-full">
        <input
          pInputText
          formControlName="name"
          class="w-full"
          [invalid]="form.get('name') | formControlError"
        />
        @if(form.get('name') | formControlError) {
        <p-message severity="error" size="small" variant="simple"
          >El nombre es requerido, entre 5 y 100 caracteres.</p-message
        >
        }
      </div>
    </div>

    <div class="mb-4 w-full md:w-5/12 flex gap-2">
      <label for="weight">Peso</label>
      <div class="w-full">
        <p-inputnumber
          formControlName="weight"
          class="w-full"
          [invalid]="form.get('weight') | formControlError"
        ></p-inputnumber>

        @if(form.get('weight') | formControlError) {
        <p-message severity="error" size="small" variant="simple">El peso es requerido.</p-message>
        }
      </div>
    </div>

    <div class="mb-4 w-full md:w-5/12 flex gap-2">
      <label for="calories">Calorias</label>
      <div class="w-full">
        <p-inputnumber
          formControlName="calories"
          class="w-full"
          [invalid]="form.get('calories') | formControlError"
        ></p-inputnumber>

        @if(form.get('calories') | formControlError) {
        <p-message severity="error" size="small" variant="simple">Las calorias son requeridas.</p-message>
        }
      </div>
    </div>
  </form>

  <div class="flex justify-center items-center gap-4">
    <p-button
      [disabled]="form.invalid || loading"
      [icon]="loading ? 'pi pi-spin pi-spinner' : ''"
      label="Guardar"
      (click)="saveForm()"
      [raised]="true"
      severity="success"
    />
  </div>
</ng-template>
