<div class="h-full flex items-center justify-center bg-gradient-to-br from-gray-50 to-gray-100 p-6">
  <p-card class="w-full max-w-md shadow-xl rounded-2xl overflow-hidden">
    <div class="flex flex-col md:flex-row">
      <!-- Left: brand / illustration -->
      <div
        class="hidden md:flex md:w-1/3 items-center justify-center bg-gradient-to-b from-green-300 to-green-600 p-6 text-white"
      >
        <div class="text-center">
          <div class="text-3xl font-extrabold">TODO App</div>
        </div>
      </div>

      <!-- Right: form -->
      <div class="w-full md:w-2/3 px-6 py-3">
        <h2 class="text-2xl font-semibold mb-1">Registrarse</h2>

        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
          <div>
            <label class="block text-sm font-medium mb-1">Nombre Completo</label>
            <input
              pInputText
              data-testid="register-name"
              formControlName="fullName"
              [invalid]="form.get('fullName') | formControlError"
              class="w-full px-3 py-2 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-300"
            />
            @if(form.get('fullName') | formControlError) {
            <div class="w-auto relative">
              <small class="text-red-500">Ingrese al menos 4 caracteres.</small>
            </div>
            }
          </div>
          <div>
            <label class="block text-sm font-medium mb-1">Correo</label>
            <input
              pInputText
              formControlName="email"
              type="email"
              data-testid="register-email"
              placeholder="ej: demo@example.com"
              [invalid]="form.get('email') | formControlError"
              class="w-full px-3 py-2 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-300"
            />
            @if(form.get('email') | formControlError) {
            <div class="w-auto relative">
              <small class="text-red-500">Ingrese un correo válido.</small>
            </div>
            }
          </div>

          <div>
            <label class="block text-sm font-medium mb-1">Contraseña</label>
            <p-password
              formControlName="password"
              placeholder="Tu contraseña"
              class="w-full"
              data-testid="register-password"
              [toggleMask]="true"
              [invalid]="form.get('password') | formControlError"
              inputStyleClass="w-full px-3 py-2 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-300"
            ></p-password>
            @if(form.get('password') | formControlError) {
            <div class="w-auto relative">
              <small class="text-red-500">Mínimo 6 caracteres.</small>
            </div>
            }
          </div>

          <div>
            <label class="block text-sm font-medium mb-1">Confirmar</label>
            <p-password
              formControlName="confirmPassword"
              placeholder="Confirma tu contraseña"
              class="w-full"
              [feedback]="false"
              [toggleMask]="true"
              data-testid="register-confirm"
              [invalid]="form.get('confirmPassword') | formControlError"
              inputStyleClass="w-full px-3 py-2 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-300"
            ></p-password>
            @if(form.errors?.['passwordMismatch'] && form.touched) {
            <div class="w-auto relative">
              <small class="text-red-500">Las contraseñas no coinciden.</small>
            </div>
            }
          </div>

          <div class="flex items-center justify-between"></div>

          <div>
            <button
              pButton
              type="submit"
              severity="success"
              data-testid="register-submit"
              class="w-full"
              [disabled]="loading()"
            >
              {{ loading() ? 'Creando...' : 'Registrar' }}
            </button>
          </div>

          <div class="text-center text-sm text-gray-500">
            ¿Ya tienes cuenta?
            <a routerLink="/auth" class="text-indigo-600 hover:underline">Iniciar sesión</a>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
